* ,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

/* Style for the body on every page. Unchanging unless specifically specified. */
body {
    background-color: #e0a96d;
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style for the navigation bar. Unchanging */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #201e20;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #ddc3a5;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.logo a{
    text-decoration: none;
    color: #ddc3a5;
}

.logo a:hover{
    color:white;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    margin: 0;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    color: #ddc3a5;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.nav-links a {
    color: #ddc3a5;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.nav-links a:hover {
    color: white;
}

.nav-links a:after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjusts the distance of the underline from the text */
    left: 0;
    width: 0%; /* Sets initial width to 0 */
    height: 2px; /* Adjusts the thickness of the underline */
    background-color: white;
    transition: width 0.3s ease; /* Adds a transition for the width property */
}

.nav-links a:hover:after {
    width: 100%; /* Expands the width to 100% on hover */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #201e20;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Style for content on every page */
.content {
    padding: 80px 16px 16px; 
    flex: 1;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ddc3a5;
    margin: 5px;
}

@media screen and (min-width:1920px){
    .nav-links {
        width: 60%;
    }

    .grid-item {
        padding: 20px;
        text-align: center;
        color: white;
        border-radius: 8px;
    }

    .homeHead {
        grid-column: span 4 !important;
        grid-row: 1 !important;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ddc3a5;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translate(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.scroll-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40px;
    margin-right: 40px;
    border-style: solid;
    border-color: #ddc3a5;
    border-radius: 25px;
}

.title {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.about-me {
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    grid-column: span 2;
    grid-row:span 2;
}

.title2 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 45px;
    font-size: 35px;
    font-style: italic;
}

.body2 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 60px;
    font-size: 18px;
    font-style: italic;
}

.footer {
    margin-top: auto;
    padding: 100px;
    background-color: #201e20;
    left:0;
    bottom: 0;
    width:100%;
}

.footer-word1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ddc3a5;
    margin-bottom: 15px;
}

.contact-info a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.contact-info p{
    float:right;
}

.title3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    color: black;
    grid-column-start: 2;
    grid-column: 3;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row: span 2;
}

.contact {
    margin-top:3.5rem;
}

@media screen and (max-width:768px) {
    .contact-info {
        padding-bottom: 150px;
    }

    .body2 {
        font-size: 2vw;
    }
        
    .title3 {
        margin-bottom: 110px;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Add this style to create a grid layout */
.content-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    gap: 16px; /* Adjust the gap between grid items */
}

.grid-item {
    /* Add styling for each grid item */ /* Note this style will be used for each grid item. For individual style you must add an additional class or id to the element you are trying to style */
    /* background-color: #fff; */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.social {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column: 3;
    grid-column-end: span 2;
}

.fa-x-twitter {
    color: white;
}

.socials {
    margin: 25px;
    transition: .05s ease-in-out;
}

.socials:hover {
    transform: scale(1.3)
}



.grid-layout {
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column: 2;
  grid-column-end: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-para {
    font-size: 18px;
    text-align: center;
    line-height: 2;
} 

.head5 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
}

.grid-layout2 {
    grid-row-start: 3;
    grid-row: 4;
    grid-column-start: 2;
    grid-column: 3;
    grid-column-end: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-layout3 {
    grid-row-start: 3;
    grid-row: 7;
    grid-column-start: 3;
    grid-column: 3;
    grid-column-end: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-layout4 {
    grid-row-start: 3;
    grid-row: 9;
    grid-column-start: 3;
    grid-column: 2;
    grid-column-end: span 4; 
}

#chart-container {
    position: relative;
    margin: auto;
    width: 80vw;
    height: 60vh;
}

#popup {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-layout5 {
    grid-column-start:1;
    grid-column: 1;
    grid-row-start: 11;
    grid-row: 11;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-layout5:hover {
    transform: scale(1.1)
}

.grid-layout6 {
    grid-column-start:2;
    grid-column: 2;
    grid-row-start: 11;
    grid-row: 11;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-layout6:hover {
    transform: scale(1.1)
}

.grid-layout7 {
    grid-column-start:3;
    grid-column: 3;
    grid-row-start: 11;
    grid-row: 11;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-layout7:hover {
    transform: scale(1.1)
}

.grid-layout8 {
    grid-column-start: 4;
    grid-column: 4;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row: 11;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-layout8:hover {
    transform: scale(1.1)
}

.grid-layout9 {
    grid-column-start: 5;
    grid-column: 5;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row: 11;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-layout9:hover {
    transform: scale(1.1)
}

.grid-layout10 {
    grid-column-start: 6;
    grid-column: 6;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row: 11;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-layout10:hover {
    transform: scale(1.1)
}

.summary {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.year {
    font-family: 'Oswald', sans-serif;
}

.grid-law {
    grid-column-start: 3;
    grid-column: 3;
    grid-column-end: span 2;
    grid-row-start: 13;
    grid-row: 13;
}

.grid-law1 {
    grid-column-start: 2;
    grid-column: 2;
    grid-column-end: span 4;
    grid-row-start: 14;
    grid-row: 14;
}

.about-meh {
    font-size: 18px;
    line-height: 2;
}

/* Style For Product Page */ 
.product-card {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    margin-top: 5.5rem;
    border: black 3px solid;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background: white;
    box-shadow: 3px 3px 3px black;
}

.product-card2 {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 3;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    margin-top: 5.5rem;
    border: black 3px solid;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background: white;
    box-shadow: 3px 3px 3px black;
    margin-bottom: 40px;
}

.product-image {
    width: 300px;
    height: 300px;
    border: solid 3px #201e20;
    border-radius: 5px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.product-info {
    flex: 1;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-title {
    font-size: 1.5em;
    margin-top: 0;
}

.product-description {
    margin-top: 10px;
}

.product-price {
    font-weight: bold;
    margin-top: 10px;
}

.product-button {
    background-color: #201e20;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.product-button:hover {
    transform: scale(1.1);
}

.bttn10 {
    text-decoration: none;
    color: white;
}

.explain {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.explain1 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.explain2 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.para7 {
    line-height: 2;
}

.explain3 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.explain4 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 5;
    grid-row-end: 5;
}

.explain5 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

.explain6 {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 7;
    grid-row-end: 7;
}

.explain7 {
    grid-column-start: 4;
    grid-column-end: span 2;
    grid-row-start: 7;
    grid-row-end: 7;
}

.explain8 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 8;
    grid-row-end: 8;
}

.explain9 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 9;
    grid-row-end: 9;
}

.explain10 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 10;
    grid-row-end: 10;
}

.explain0 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 11;
    grid-row-end: 11;
}

.explain01 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 12;
    grid-row-end: 12;
}

.explain02 {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 13;
    grid-row-end: 13;
}

.explain03 {
    grid-column-start: 4;
    grid-column-end: span 2;
    grid-row-start: 13;
    grid-row-end: 13;
}

.thanks {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 15;
    grid-row-end: 15;
}

.thanks2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.thanks1 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 16;
    grid-row-end: 16;
}

.bttn11 {
    text-decoration: none;
    color:#ddc3a5;
    transition: 0.3s ease-in-out;
}

.bttn11:hover {
    transform: scale(1.1);
    color:#e0a96d;
}

.logo1 {
    transition: 0.4s ease-in-out;
}

.logo1:hover {
    transform: scale(0.95);
}

.homeHead {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.home {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.para8 {
    line-height: 2;
    font-size: 20px;
}

.homeHead1 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.home1 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.home2 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.home3 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

.subHead {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.bttn12 {
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #201e20;
    color: #ddc3a5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.bttn12:hover {
    transform: scale(1.1);
    color: #fff;
}

.planHead {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 1;
}

.planpara {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
}

.planpara1 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 3;
}

.planpara2 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 4;
}

.planpara3 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 5;
}

.planpara4 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 6;
}

.planpara5 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 7;
}

.planpara6 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 8;
}

.planpara7 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 9;
}

.planpara8 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 10;
}

.planpara9 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 11;
}

.planpara10 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 12;
}

.planpara11 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 13;
}

.planpara12 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 14;
}

.planpara13 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 15;
}

.planpara14 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 16;
}

.planpara15 {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 17;
}